# Part I. ETL Pipeline for Pre-Processing the Files

#### Import Python packages

In [2]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv
from cassandra.cluster import Cluster

#### Creating list of filepaths to process original event csv data files

In [3]:
# CHECKING CURRENT WORKING DIR
cwd = os.getcwd()
print('CWD\n', cwd, sep = '')
print()

CWD
/home/workspace

In [9]:
folderpath = cwd + '/event_data'
print('FILEPATH\n', folderpath, sep = '')
print()

filepaths_list = []

# RECURSIVELY EXPLORING THE FOLDER'S CONTENT
for root, dirs, files in os.walk(folderpath):
    
    # STORING THE PATH FOR ALL FILES IN THE FOLDER
    filepaths_list.extend(glob.glob(os.path.join(root, '*')))
    print(filepaths_list)

FILEPATH
/home/workspace/event_data

['/home/workspace/event_data/2018-11-27-events.csv', '/home/workspace/event_data/2018-11-04-events.csv', '/home/workspace/event_data/2018-11-07-events.csv', '/home/workspace/event_data/2018-11-09-events.csv', '/home/workspace/event_data/2018-11-19-events.csv', '/home/workspace/event_data/2018-11-05-events.csv', '/home/workspace/event_data/2018-11-22-events.csv', '/home/workspace/event_data/2018-11-16-events.csv', '/home/workspace/event_data/2018-11-26-events.csv', '/home/workspace/event_data/2018-11-24-events.csv', '/home/workspace/event_data/2018-11-29-events.csv', '/home/workspace/event_data/2018-11-15-events.csv', '/home/workspace/event_data/2018-11-20-events.csv', '/home/workspace/event_data/2018-11-06-events.csv', '/home/workspace/event_data/2018-11-18-events.csv', '/home/workspace/event_data/2018-11-21-events.csv', '/home/workspace/event_data/2018-11-10-events.csv', '/home/workspace/event_data/2018-11-23-events.csv', '/home/workspace/event_data/2018-11-02-events.csv', '/home/workspace/event_data/2018-11-28-events.csv', '/home/workspace/event_data/2018-11-03-events.csv', '/home/workspace/event_data/2018-11-13-events.csv', '/home/workspace/event_data/2018-11-30-events.csv', '/home/workspace/event_data/2018-11-12-events.csv', '/home/workspace/event_data/2018-11-01-events.csv', '/home/workspace/event_data/2018-11-14-events.csv', '/home/workspace/event_data/2018-11-25-events.csv', '/home/workspace/event_data/2018-11-08-events.csv', '/home/workspace/event_data/2018-11-17-events.csv', '/home/workspace/event_data/2018-11-11-events.csv']
['/home/workspace/event_data/2018-11-27-events.csv', '/home/workspace/event_data/2018-11-04-events.csv', '/home/workspace/event_data/2018-11-07-events.csv', '/home/workspace/event_data/2018-11-09-events.csv', '/home/workspace/event_data/2018-11-19-events.csv', '/home/workspace/event_data/2018-11-05-events.csv', '/home/workspace/event_data/2018-11-22-events.csv', '/home/workspace/event_data/2018-11-16-events.csv', '/home/workspace/event_data/2018-11-26-events.csv', '/home/workspace/event_data/2018-11-24-events.csv', '/home/workspace/event_data/2018-11-29-events.csv', '/home/workspace/event_data/2018-11-15-events.csv', '/home/workspace/event_data/2018-11-20-events.csv', '/home/workspace/event_data/2018-11-06-events.csv', '/home/workspace/event_data/2018-11-18-events.csv', '/home/workspace/event_data/2018-11-21-events.csv', '/home/workspace/event_data/2018-11-10-events.csv', '/home/workspace/event_data/2018-11-23-events.csv', '/home/workspace/event_data/2018-11-02-events.csv', '/home/workspace/event_data/2018-11-28-events.csv', '/home/workspace/event_data/2018-11-03-events.csv', '/home/workspace/event_data/2018-11-13-events.csv', '/home/workspace/event_data/2018-11-30-events.csv', '/home/workspace/event_data/2018-11-12-events.csv', '/home/workspace/event_data/2018-11-01-events.csv', '/home/workspace/event_data/2018-11-14-events.csv', '/home/workspace/event_data/2018-11-25-events.csv', '/home/workspace/event_data/2018-11-08-events.csv', '/home/workspace/event_data/2018-11-17-events.csv', '/home/workspace/event_data/2018-11-11-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [10]:
# CREATING A LIST TO STORE ALL ROWS FROM FILES
full_data_rows_list = []

for file in filepaths_list:
    
    # READING EACH FILE
    with open(file, 'r', encoding ='utf8', newline = '') as f:
        
        # CREATING A CSV_READER GENERATOR OBJECT 
        # THAT CAN BE ITERATED THROUGH LINE BY LINE
        csv_reader = csv.reader(f)
        
        # SKIPPING THE HEADER
        next(csv_reader)
    
        # ITERATING OVER THE GENERATOR TO EXTRACT DATA, ONE ROW AT A TIME
        for data_row in csv_reader:
            # AND APPENDING IT TO OUR LIST
            full_data_rows_list.append(data_row)
        
# CHECK THE TOTAL NUMBER OF ROWS EXTRACTED
print('TOTAL ROWS ', len(full_data_rows_list))

print()

# CHEKING THE FIRST ITEM THE LIST
print(full_data_rows_list[0])

TOTAL ROWS  8056

['Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 'Logged In', 'Mohammad', 'M', '0', 'Rodriguez', '277.15873', 'paid', 'Sacramento--Roseville--Arden-Arcade, CA', 'PUT', 'NextSong', '1.54051E+12', '961', 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', '200', '1.54328E+12', '88']

In [13]:
help(csv.register_dialect)

Help on built-in function register_dialect in module _csv:

register_dialect(...)
    Create a mapping from a string name to a dialect class.
    dialect = csv.register_dialect(name[, dialect[, **fmtparams]])

In [11]:
# CONSOLIDATING THE DATA IN A CSV FILE THAT WILL BE USED TO
# INSERT DATA INTO APACHE CASSANDRA'S TABLES

csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

# CREATING THE CSV FILE
with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    # CREATING THE HEADER ROW
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                     'level','location','sessionId','song','userId'])
    # POPOULATING THE CSV ROWS
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

#### Taking a quick at the csv file we have just created...

In [13]:
df = pd.read_csv('event_datafile_new.csv')
print(df.shape)
df.head()

(6820, 11)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Horn Concerto No. 4 in E flat K495: II. Romanc...,88
1,Jimi Hendrix,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Woodstock Inprovisation,88
2,Building 429,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Majesty (LP Version),88
3,The B-52's,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Love Shack,38
4,Die Mooskirchner,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Frisch und g'sund,38

In [14]:
df.isna().sum()

artist           0
firstName        0
gender           0
itemInSession    0
lastName         0
length           0
level            0
location         0
sessionId        0
song             0
userId           0
dtype: int64

In [15]:
df.nunique()

artist           3148
firstName          84
gender              2
itemInSession     123
lastName           86
length           3994
level               2
location           63
sessionId         776
song             5190
userId             96
dtype: int64

In [16]:
df.columns

Index(['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length',
       'level', 'location', 'sessionId', 'song', 'userId'],
      dtype='object')

#### Creating and to connecting to an Apache Cassandra Cluster

In [18]:
# MAKING A LOCAL CONNECTION TO A CASSANDRA INSTANCE 
localhost = '127.0.0.1'
contact_points = [localhost]
cluster = Cluster(contact_points)

# CREATING A SESSION TO CONNECT AND OPERATE ON THE DB
session = cluster.connect()

#### Creating the Keyspace

In [19]:
session.execute("""
                CREATE KEYSPACE IF NOT EXISTS sparkify
                WITH REPLICATION = 
                {'class': 'SimpleStrategy' , 'replication_factor': 1}
                 """)

#### Setting the Keyspace

In [20]:
session.set_keyspace('sparkify')

## Creating query-based Apache Cassandra tables

####  Table 1 typical query: 
##### Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [21]:
session.execute("""
        CREATE TABLE IF NOT EXISTS sessions_table(artist text, 
                                                  firstName text, 
                                                  gender text, 
                                                  itemInSession int, 
                                                  lastName text, 
                                                  length float,
                                                  level text, 
                                                  location text, 
                                                  sessionId int, 
                                                  song text, 
                                                  userId int, 
                                                  PRIMARY KEY (sessionID, itemInSession))
        """)

#### Populating Table 1 with the data from our csv file

In [22]:
file = 'event_datafile_new.csv'

# READING THE CSV FILE
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    
    # SKIPPING THE HEADER
    next(csvreader) 
    
    # GOING THROUGH EACH LINE
    for line in csvreader:
        
        # GETTING THE NAME OF THE COLUMNS 
        columns = ', '.join([col for col in df.columns])
        
        query = f"""INSERT INTO sessions_table ({columns})
                                        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """
        
        # CONVENIENCY: CREATING A DICTIONARY OF COLUMNS AND TYPES
        cols_and_types = {col:df[col].dtype for col in df.columns}
        
        # ASSIGNING DATA FROM THE CSV TO THE PROPER COLUMN IN THE TABLE
        # NOTA BENE: VALUES FROM CSV ARE STRINGS
        # THEREFORE SOME HAD TO BE CONVERTED TO THE EXPECTED TYPE 
        data = (line[0], line[1], line[2], 
                int(line[3]),line[4], float(line[5]), 
                line[6], line[7], int(line[8]), line[9], int(line[10]))
        
        session.execute(query, data)

#### Sanity check

In [25]:
# QUERYING THE DATABASE TO CHECK THE DATA THAT WE INSERTED
rows = session.execute("""
                      SELECT artist, song, length
                      FROM sessions_table 
                      WHERE sessionId = 338
                            AND
                            itemInSession = 4;
                      """)

for row in rows:
    print(row)

Row(artist='Faithless', song='Music Matters (Mark Knight Dub)', length=495.30731201171875)

In [26]:
# COMPARING TO OUR DATAFRAME
df.query('sessionId == 338 & itemInSession == 4')[['artist', 'song', 'length']]

        artist                             song    length
444  Faithless  Music Matters (Mark Knight Dub)  495.3073

### Table 2 typical query: 
#### Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [28]:
# CREATING THE TABLE 
session.execute("""
        CREATE TABLE IF NOT EXISTS users_sessions_table(artist text, 
                                                        firstName text, 
                                                        gender text, 
                                                        itemInSession int, 
                                                        lastName text, 
                                                        length float,
                                                        level text, 
                                                        location text, 
                                                        sessionId int, 
                                                        song text, 
                                                        userId int, 
                                                        PRIMARY KEY (userId, sessionId, itemInSession))                                               
        """)

In [29]:
# POPULATING THE TABLE 

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    
    csvreader = csv.reader(f)
    
    next(csvreader)
    
    for line in csvreader:

        columns = ', '.join([col for col in df.columns])
        
        query = f"""INSERT INTO users_sessions_table ({columns})
                                        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """
              
        cols_and_types = {col:df[col].dtype for col in df.columns}

        
        data = (line[0], line[1], line[2], 
                int(line[3]),line[4], float(line[5]), 
                line[6], line[7], int(line[8]), line[9], int(line[10]))

        session.execute(query, data)

#### Sanity check

In [30]:
# QUERYING THE TABLE
rows = session.execute("""
                      SELECT artist, song, firstName, lastName
                      FROM users_sessions_table 
                      WHERE userId = 10
                            AND
                            sessionId = 182;
                      """)

for row in rows:
    print(row)

Row(artist='Down To The Bone', song="Keep On Keepin' On", firstname='Sylvie', lastname='Cruz')
Row(artist='Three Drives', song='Greece 2000', firstname='Sylvie', lastname='Cruz')
Row(artist='Sebastien Tellier', song='Kilometer', firstname='Sylvie', lastname='Cruz')
Row(artist='Lonnie Gordon', song='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', firstname='Sylvie', lastname='Cruz')

In [31]:
# COMPARING TO THE DATAFRAME
df.query('userId == 10 & sessionId == 182')[['artist', 'song', 'firstName','lastName']]

,artist,song,firstName,lastName
4704,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
4705,Three Drives,Greece 2000,Sylvie,Cruz
4706,Sebastien Tellier,Kilometer,Sylvie,Cruz
4707,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### Table 3 typical query: 
#### Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [32]:
# CREATING THE TABLE
session.execute("""
        CREATE TABLE IF NOT EXISTS users_songs_table(artist text, 
                                                    firstName text, 
                                                    gender text, 
                                                    itemInSession int, 
                                                    lastName text, 
                                                    length float,
                                                    level text, 
                                                    location text, 
                                                    sessionId int,  
                                                    song text, 
                                                    userId int,
                                                    PRIMARY KEY (song, userId))                                               
            """)

In [33]:
# POPULATING THE TABLE 

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:

    csvreader = csv.reader(f)
    
    next(csvreader) 
    
    for line in csvreader:

        
        columns = ', '.join([col for col in df.columns])
        
        query = f"""INSERT INTO users_songs_table ({columns})
                                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """        

        cols_and_types = {col:df[col].dtype for col in df.columns}
        
        data = (line[0], line[1], line[2], 
                int(line[3]),line[4], float(line[5]), 
                line[6], line[7], int(line[8]), line[9], int(line[10]))

        session.execute(query, data)

#### Sanity check

In [34]:
# QUERYING THE TABLE
rows = session.execute("""
                      SELECT firstName, lastName
                      FROM users_songs_table 
                      WHERE song = 'All Hands Against His Own'
                      """)

for row in rows:
    print(row)

Row(firstname='Jacqueline', lastname='Lynch')
Row(firstname='Tegan', lastname='Levine')
Row(firstname='Sara', lastname='Johnson')

In [35]:
# QUERYING TO DATAFRAME
df.query('song == "All Hands Against His Own"')

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
2792,The Black Keys,Tegan,F,25,Levine,196.91057,paid,"Portland-South Portland, ME",611,All Hands Against His Own,80
5135,The Black Keys,Sara,F,31,Johnson,196.91057,paid,"Winston-Salem, NC",152,All Hands Against His Own,95
6298,The Black Keys,Jacqueline,F,50,Lynch,196.91057,paid,"Atlanta-Sandy Springs-Roswell, GA",559,All Hands Against His Own,29

### Dropping tables before closing out the sessions

In [36]:
tables = ['sessions_table', 'users_sessions_table', 'users_songs_table']

for table in tables:
    try:
        session.execute(f'DROP TABLE {table}')
    except Exception as e:
        print(e)

### Closing both session and cluster connection¶

In [37]:
session.shutdown()
cluster.shutdown()