# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv
from cassandra.cluster import Cluster

#### Creating list of filepaths to process original event csv data files

In [2]:
# PERSO 

# CHECK CURRENT WORKING DIR
cwd = os.getcwd()
print('CWD\n', cwd, sep = '')
print()

CWD
/home/workspace

In [3]:
# GET PATH FOR DATA FOLDER
filepath = cwd + '/event_data'
print('FILEPATH\n', filepath, sep = '')
print()

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):

    # join the file path and roots with the subdirectories using glob
    filepaths_list = glob.glob(os.path.join(root, '*'))
    print(filepaths_list)
    break # WITHOUT BREAK -> next iteration returns an empty list

FILEPATH
/home/workspace/event_data

['/home/workspace/event_data/2018-11-27-events.csv', '/home/workspace/event_data/2018-11-04-events.csv', '/home/workspace/event_data/2018-11-07-events.csv', '/home/workspace/event_data/2018-11-09-events.csv', '/home/workspace/event_data/2018-11-19-events.csv', '/home/workspace/event_data/2018-11-05-events.csv', '/home/workspace/event_data/2018-11-22-events.csv', '/home/workspace/event_data/2018-11-16-events.csv', '/home/workspace/event_data/2018-11-26-events.csv', '/home/workspace/event_data/2018-11-24-events.csv', '/home/workspace/event_data/2018-11-29-events.csv', '/home/workspace/event_data/2018-11-15-events.csv', '/home/workspace/event_data/2018-11-20-events.csv', '/home/workspace/event_data/2018-11-06-events.csv', '/home/workspace/event_data/2018-11-18-events.csv', '/home/workspace/event_data/2018-11-21-events.csv', '/home/workspace/event_data/2018-11-10-events.csv', '/home/workspace/event_data/2018-11-23-events.csv', '/home/workspace/event_data/2018-11-02-events.csv', '/home/workspace/event_data/2018-11-28-events.csv', '/home/workspace/event_data/2018-11-03-events.csv', '/home/workspace/event_data/2018-11-13-events.csv', '/home/workspace/event_data/2018-11-30-events.csv', '/home/workspace/event_data/2018-11-12-events.csv', '/home/workspace/event_data/2018-11-01-events.csv', '/home/workspace/event_data/2018-11-14-events.csv', '/home/workspace/event_data/2018-11-25-events.csv', '/home/workspace/event_data/2018-11-08-events.csv', '/home/workspace/event_data/2018-11-17-events.csv', '/home/workspace/event_data/2018-11-11-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [5]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = []

# for every filepath in the file path list 
for file in filepaths_list:
    
    # reading csv file 
    with open(file, 'r', encoding ='utf8', newline = '') as f:
        
        # creating a csv reader object 
        csv_reader = csv.reader(f)
        
        # SKIPPING THE HEADER
        next(csv_reader)
    
        # ITERATING OVER THE GENERATOR TO EXTRACT DATA, ONE ROW AT A TIME
        for data_row in csv_reader:
            # AND APPEND IT TO OUR LIST
            full_data_rows_list.append(data_row)
        
# uncomment the code below if you would like to get total number of rows 
print(len(full_data_rows_list))

print()

# uncomment the code below if you would like to check to see what the list of event data rows will look like
print(full_data_rows_list[0])

8056

['Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 'Logged In', 'Mohammad', 'M', '0', 'Rodriguez', '277.15873', 'paid', 'Sacramento--Roseville--Arden-Arcade, CA', 'PUT', 'NextSong', '1.54051E+12', '961', 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', '200', '1.54328E+12', '88']

In [13]:
help(csv.register_dialect)

Help on built-in function register_dialect in module _csv:

register_dialect(...)
    Create a mapping from a string name to a dialect class.
    dialect = csv.register_dialect(name[, dialect[, **fmtparams]])

In [14]:
# creating a smaller event data csv file called event_datafile_full csv 
# that will be used to insert data into the Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                     'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [15]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

#### Examing the csv file we have just created...

In [6]:
df = pd.read_csv('event_datafile_new.csv')
print(df.shape)
df.head()

(6820, 11)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Horn Concerto No. 4 in E flat K495: II. Romanc...,88
1,Jimi Hendrix,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Woodstock Inprovisation,88
2,Building 429,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Majesty (LP Version),88
3,The B-52's,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Love Shack,38
4,Die Mooskirchner,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Frisch und g'sund,38

In [7]:
df.isna().sum()

artist           0
firstName        0
gender           0
itemInSession    0
lastName         0
length           0
level            0
location         0
sessionId        0
song             0
userId           0
dtype: int64

In [8]:
df.nunique()

artist           3148
firstName          84
gender              2
itemInSession     123
lastName           86
length           3994
level               2
location           63
sessionId         776
song             5190
userId             96
dtype: int64

In [9]:
df.columns

Index(['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length',
       'level', 'location', 'sessionId', 'song', 'userId'],
      dtype='object')

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [10]:
# MAKING A LOCAL CONNECTION TO A CASSANDRA INSTANCE 
localhost = '127.0.0.1'
contact_points = [localhost]
cluster = Cluster(contact_points)

# CREATING A SESSION TO CONNECT AND OPERATE ON THE DB
session = cluster.connect()

#### Create Keyspace

In [11]:
# TO-DO: Create a Keyspace 
session.execute("""
                CREATE KEYSPACE IF NOT EXISTS sparkify
                WITH REPLICATION = 
                {'class': 'SimpleStrategy' , 'replication_factor': 1}
                 """)

#### Set Keyspace

In [12]:
# TO-DO: Set KEYSPACE to the keyspace specified above
session.set_keyspace('sparkify')

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [14]:
session.execute("""
        CREATE TABLE IF NOT EXISTS sessions_table(artist text, 
                                                  firstName text, 
                                                  gender text, 
                                                  itemInSession int, 
                                                  lastName text, 
                                                  length float,
                                                  level text, 
                                                  location text, 
                                                  sessionId int, 
                                                  song text, 
                                                  userId int, 
                                                  PRIMARY KEY (sessionID, itemInSession))
        """)

In [15]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        
        columns = ', '.join([col for col in df.columns])
        
        query = f"""INSERT INTO sessions_table ({columns})
                                        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """
        
        
        ## !!!! NOTA BENE: ALL VALUES IN line WILL BE STRINGS !!! MUST BE CONVERTED FOR SOME COLS !!!
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        cols_and_types = {col:df[col].dtype for col in df.columns}

        
        data = (line[0], line[1], line[2], 
                int(line[3]),line[4], float(line[5]), 
                line[6], line[7], int(line[8]), line[9], int(line[10]))
        session.execute(query, data)

#### Do a SELECT to verify that the data have been inserted into each table

In [16]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
rows = session.execute("""
                      SELECT artist, song, length
                      FROM sessions_table 
                      WHERE sessionId = 338
                            AND
                            itemInSession = 4;
                      """)

for row in rows:
    print(row)

Row(artist='Faithless', song='Music Matters (Mark Knight Dub)', length=495.30731201171875)

In [21]:
# SANITY CHECK -> QUERYING OUR DATAFRAME
df.query('sessionId == 338 & itemInSession == 4')[['artist', 'song', 'length']]

        artist                             song    length
444  Faithless  Music Matters (Mark Knight Dub)  495.3073

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

### 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [22]:

# CREATE TABLE 
session.execute("""
        CREATE TABLE IF NOT EXISTS users_sessions_table(artist text, 
                                                        firstName text, 
                                                        gender text, 
                                                        itemInSession int, 
                                                        lastName text, 
                                                        length float,
                                                        level text, 
                                                        location text, 
                                                        sessionId int, 
                                                        song text, 
                                                        userId int, 
                                                        PRIMARY KEY (userId, sessionId, itemInSession))                                               
        """)

In [23]:
# POPULATE THE TABLE 

# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        
        columns = ', '.join([col for col in df.columns])
        
        query = f"""INSERT INTO users_sessions_table ({columns})
                                        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """
        
        
        ## !!!! NOTA BENE: ALL VALUES IN line WILL BE STRINGS !!! MUST BE CONVERTED FOR SOME COLS !!!
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        cols_and_types = {col:df[col].dtype for col in df.columns}

        
        data = (line[0], line[1], line[2], 
                int(line[3]),line[4], float(line[5]), 
                line[6], line[7], int(line[8]), line[9], int(line[10]))
        session.execute(query, data)

In [24]:
# CREATE THE QUERY
rows = session.execute("""
                      SELECT artist, song, firstName, lastName
                      FROM users_sessions_table 
                      WHERE userId = 10
                            AND
                            sessionId = 182;
                      """)

for row in rows:
    print(row)

Row(artist='Down To The Bone', song="Keep On Keepin' On", firstname='Sylvie', lastname='Cruz')
Row(artist='Three Drives', song='Greece 2000', firstname='Sylvie', lastname='Cruz')
Row(artist='Sebastien Tellier', song='Kilometer', firstname='Sylvie', lastname='Cruz')
Row(artist='Lonnie Gordon', song='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', firstname='Sylvie', lastname='Cruz')

In [25]:
# SANITY CHECK - QUERYING OUR DATAFRAME
df.query('userId == 10 & sessionId == 182')[['artist', 'song', 'firstName','lastName']]

,artist,song,firstName,lastName
4704,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
4705,Three Drives,Greece 2000,Sylvie,Cruz
4706,Sebastien Tellier,Kilometer,Sylvie,Cruz
4707,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [57]:
session.execute('DROP TABLE users_songs_table')

In [58]:

# CREATE TABLE 
session.execute("""
        CREATE TABLE IF NOT EXISTS users_songs_table(artist text, 
                                                    firstName text, 
                                                    gender text, 
                                                    itemInSession int, 
                                                    lastName text, 
                                                    length float,
                                                    level text, 
                                                    location text, 
                                                    sessionId int,  
                                                    song text, 
                                                    userId int,
                                                    PRIMARY KEY (song, userId))                                               
            """)

In [59]:
# POPULATE THE TABLE 

# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        
        columns = ', '.join([col for col in df.columns])
        
        query = f"""INSERT INTO users_songs_table ({columns})
                                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """
        
        
        ## !!!! NOTA BENE: ALL VALUES IN line WILL BE STRINGS !!! MUST BE CONVERTED FOR SOME COLS !!!
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        cols_and_types = {col:df[col].dtype for col in df.columns}

        
        data = (line[0], line[1], line[2], 
                int(line[3]),line[4], float(line[5]), 
                line[6], line[7], int(line[8]), line[9], int(line[10]))
        session.execute(query, data)

In [60]:
# CREATE THE QUERY 
rows = session.execute("""
                      SELECT firstName, lastName
                      FROM users_songs_table 
                      WHERE song = 'All Hands Against His Own'
                      """)

for row in rows:
    print(row)

Row(firstname='Jacqueline', lastname='Lynch')
Row(firstname='Tegan', lastname='Levine')
Row(firstname='Sara', lastname='Johnson')

In [38]:
# SANITY CHECK - QUERYING OUR DATAFRAME
df.query('song == "All Hands Against His Own"')

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
2792,The Black Keys,Tegan,F,25,Levine,196.91057,paid,"Portland-South Portland, ME",611,All Hands Against His Own,80
5135,The Black Keys,Sara,F,31,Johnson,196.91057,paid,"Winston-Salem, NC",152,All Hands Against His Own,95
6298,The Black Keys,Jacqueline,F,50,Lynch,196.91057,paid,"Atlanta-Sandy Springs-Roswell, GA",559,All Hands Against His Own,29

### Drop the tables before closing out the sessions

In [61]:
## TO-DO: Drop the table before closing out the sessions

tables = ['sessions_table', 'users_sessions_table', 'users_songs_table']

for table in tables:
    try:
        session.execute(f'DROP TABLE {table}')
    except Exception as e:
        print(e)

### Close the session and cluster connectionÂ¶

In [62]:
session.shutdown()
cluster.shutdown()